.greetings{
    background-image: 
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), 
        url(resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px auto ;
    border-radius: 16px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.happynew{
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    display: inline-block;
    color: #FFF;
    position: relative;
    left: 520px;
    top: 30px;
    font-weight: 400;
}
.new-year-party{
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    color: #FFF;
    display: inline-block;
    width: 632px;
    text-align: center;
    position: relative;
    left: 80px;
    top:200px;

}
.percentoff{
    text-align: center;
    margin-top: 100px;

}
.off65{
    display: block;
    font-family: Inter;
    font-size: 88px;
    color: #F00;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.dia{
    display: block;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-top: 48px;
}
.types{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    display: block;
}
.happynewphoto{
    margin-top: 48px;
}
.greetings2{
    background-image: 
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), 
    url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px auto ;
    border-radius: 16px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
#transform:hover{
    transform: translateY(-20px);
}
.midnight{
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    color: #FFF;
    display: inline-block;
    width: 632px;
    text-align: center;
    position: relative;
    letter-spacing: 7.04px;
    text-align: left;
    padding-left: 80px;
}
.midnight-des{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    position: relative;
    left: 80px;
    bottom: 60px;
}
.join-now{
    background-color: transparent;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: none;
    position: relative;
    top: 60px;
    right: 370px;
}

#topnow:hover{
    background-color: transparent;
    color: red;
    font-weight: 900;
    cursor: pointer;
}
#secnow{
    cursor: pointer;
}
.timedate-container{
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px auto ;
    flex-shrink: 0;
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-color: pink;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.timedate{
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    position: relative;
    left: 400px;
    top: 150px;
    text-align: center;
}
.span{
    color: #F00;
}
#topnow{
    background-color: #F00;
    padding: 16px 32px;
    position: relative;
    left: 70px;
    top: 250px;
}
.coming-soon{
    width: 1320px;
    height: 500px;
    margin: 50px auto 0px auto ;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}
.comingsoon-sec{
    width: 400px;
    height: auto;
}
#best{
    text-align: left;
}
.same{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0px;
}
.comingsoon-des{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 22px;
}
.year{
    color: #F00;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.holiday-sale{
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px auto ;
}
.imagesec{
    text-align: right;
}
.group44{
    position: relative;
    left:150px;
    bottom: 50px;
}
.holiday-description{
    text-align: center;
}
.sale50{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin: 0px auto;
}
.holiday{
    color: red;
}
.whatisfunc{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.redcarpet{
    position: relative;
    bottom: 680px;
}
.awesomeportfolio{
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px auto ;
    position: relative;
    top: 400px;
}
.imagescontainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
}
.images{
    display: flex;
    gap: 24px;
}
.ourawesome{
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 10px;
}
.giftpar{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    bottom: 20px;
}
.best-gifts{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter; 
    font-weight: 500;
    word-wrap: break-word
}
.newsletter{
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px auto;
    background-color: #FF00000D;
    position: relative;
    top: 950px;
}
.footer{
    width: 1320px;
    height: 600px;
    margin: 1000px auto 0px auto;
    background-color: #070211;
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 40px;
    padding: 80px 100px;
}
form{
    background: #FFF;
    width: 600px;
    height: 55px;
}
.search-bar{
    width: 400px;
    height: 53px;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: #FFF;
    border-color: transparent;
}
.search-button{
    background-color: #F00;
    height: 58px;
    width: 198px;
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
    border-color: transparent;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    color: #FFF;
}
.form{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.search-bar1{
    display: inline-block;
    position: relative;
    bottom: 30px;
}
.descriptiobox{
    text-align: center;
    padding-top: 130px;
}
.subscribe-heading{
    font-family: 'Merriweather', serif;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.subscribe-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    bottom: 40px;
}
.top-footer{
    display: flex;
    justify-content: space-between;
}
.horizontalline{
    background-color: transparent;
    border-color: #F00;
    border-style: dotted;
    border-top: transparent;
    border-block-width: 10px; 
    border-block-color: #80BCBD;
    width: 150px;
    position: relative;

}
.top-footer-par{
    width: 375px;
}
.website{
    position: relative;
    bottom: 20px;
}
.mid-foorte{
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 10px;
    position: relative;
    left: 450px;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
}
.im:hover{
    transform: translateY(-20px);
}
.im{
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.number{
    position: relative;
    right: 100px;
}
.website{
    position: relative;
    right: 100px;
}
.unsubscribe{
    position: relative;
    right: 100px;
}
.lastimage{
    position: relative;
    bottom: 400px;
    left: 700px;
}